<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <script src="https://kit.fontawesome.com/a8c6a3430b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <title>tech-blog</title>
</head>

<body>

    <header>
        <nav class="flex-container">
            <h1 id="title">
                <a href="/" id="title">tech-blog</a>
            </h1>
            {{#if loggedIn}}

            <form>
                <label for="userSearchForm">Search for a user</label>
                <input type="text" id="user-search" />
                <button type="submit" id="search-btn">Search!</button>
            </form>

            <div id="loggedInNavBtns">
                <a class="btn" href="/profile" id="profPageNavLink">Profile Page</a>
                <a class="btn" href="/" id="moviesNavLink">Movies</a>
                <a class="btn" id="logout">logout</a>
            </div>

            {{else}}
            <div id="loggedOutNavBtns">
                <a href="/" class="btn">Movies</a>
                <a href="/login" class="btn">Login or Sign Up!</a>
            </div>
            {{/if}}

        </nav>
    </header>


    <main>
        {{{ body }}}
    </main>






    <footer class="mt-auto">
        <p>Thanks for visiting!</p>
    </footer>


    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    <script src="/javascript/usersearch.js"></script>
    {{/if}}
</body>

</html>