<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <script src="https://kit.fontawesome.com/a8c6a3430b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <title>tech-blog</title>
</head>

<body>

    <header>
        <div class="container">
            <nav>

                <h1 id="title">
                    <a href="/" id="title">tech-blog</a>
                </h1>

                {{#if loggedIn}}

                <div id="loggedInNavLinks">
                    <a href="/" id="homeLink">Home</a>
                    <a href="/dashboard" id="moviesNavLink">Dashboard</a>
                    <a id="logout">Logout</a>
                </div>

                {{else}}
                <div id="loggedOutNavLinks">
                    <a href="/" id="homeLink">Home</a>
                    <a href="/dashboard" id="moviesNavLink">Dashboard</a>
                    <a id="login">Log In</a>
                </div>

                {{/if}}

            </nav>
        </div>
    </header>


    <main>
        {{{ body }}}
    </main>






    <footer class="mt-auto">
        <p>Thanks for visiting!</p>
    </footer>


    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    <script src="/javascript/usersearch.js"></script>
    {{/if}}
</body>

</html>